.home-container{
    background-color: rgb(0, 0, 0);
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    
  

}
.intro-container{
    background-color: rgb(0, 0, 0);
    height: 101vh; 
    padding: 0px 88px;
    position: relative;
    width: 100%;
    max-width: 1600px;
  
 
  
}
.intro-section{
    background-color: rgb(0, 0, 0);
    height: 90vh;
  
   
}
.matters-txt{
    font-family: Boska;
    font-weight: 600;
}
.intro-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.intro-left{
    width: 100%;
    max-width: 800px;
    background-color: rgb(0, 0, 0);

    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}
.intro-right{
    width: 100%;
    max-width: 600px;
    background-color: rgb(0, 0, 0);
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
   
}
.intro-title{
    font-size: 82px;
    line-height: 106.6px;
      font-family: "Sora", sans-serif;
      font-weight: 500;
      z-index: 1;
}
.intro-description{
    font-size: 26px;
    z-index: 1;
}
.intro-more-btns{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.get-free-quote{
    display: flex;
    background-color: #146EF8;
    padding: 8px 12px;
   justify-content: center;
   align-items: center;
    border-radius: 14px;
    gap: 6px;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
}
.free-quote-text{
    font-size: 24px;
    width: 100%;
    height: 100%;
 cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.free-quote-icon{
 
    display: flex;
    justify-content: center;
}
.explore-btn{
    font-size: 24px;
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 14px;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-person{
    width: 100%;
    height: auto;
    max-height: 600px;
    position: relative;

}
.home-image-elements {
    width: 100%;
    max-width: 60px;
    height: auto;
}
.home-image{
    /* background-color: aqua; */
    position: relative;

}
.mobileelement1{
    position: absolute;
    animation: shake 5s ease infinite;
    top: 60px;
    left: 30px;
    opacity: 0.5;
    display: none;
  
}
.mobileelement2{
    position: absolute;
    animation: rotate 5s linear infinite;
    left: 200px;
    opacity: 0.5;
    display: none;
}
.element1{
    position: absolute;
    top: 100px;
    left: 20px;
    height: auto;
    animation: rotate 5s linear infinite;
  
    
  
}

.element2{
    position: absolute;
    top: 30px;
    right: 100px;
    height: auto;
    animation: rotate 5s linear infinite;
   
}
.element3{
        position: absolute;
        bottom: 190px;
        left: 0px;
        height: auto;
        animation: shake 5s ease infinite;
}

.element4{
    position: absolute;
    bottom: 200px;
    right: 70px;
    height: auto;
    animation: shake 5s ease infinite;
}
.element5{
    position: absolute;
    bottom: 8px;
    right: 100px;
    height: auto;
    animation: shake 5s ease infinite;
}
.section-3{
    height: 100vh;
    background-color: rgb(185, 148, 101);
}
.rotate-svg{
    animation: rotate 5s linear infinite;
}
.homelines{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 1;
}

@keyframes rotate {
    from{
     transform: rotate(0deg);
    }
    to{
     transform: rotate(360deg);
    }
}
@keyframes shake {
    0%{
       transform: translateX(0);
    }
    25%{
       transform: translateX(-5px) rotate(0deg);
    }
    50%{
       transform: translateX(5px) rotate(0deg);
    }
    75%{
       transform: translateX(-5px) rotate(0deg);
    }
    100%{
       transform: translateX(0);
    }
   }
/* section2 - scroller container */
.scroller-container{
    width: 100%;

    background-color: #146EF8;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    rotate: -2deg;
    position: absolute;
    bottom: 0;
    left: 1px;
    bottom: -38px;
   
  
}
.scroll-contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 52px;
    width: 120%;
  

  
  
}
.scroller-space{
    display: flex;
    flex-direction: row;
    gap: 32px;
  
}
.scroll-text{
    font-family: "Arsenica Trial";
    font-weight: 400;
    font-size: 60px;
  color: white;
}
/* section-3 */
.whyus-container{
    background-color: rgb(255, 255, 255);
width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 150px 0px 72px 0px;
}
.whyus-content{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1600px;
    /* align-items: center; */
 
    padding: 0px 88px;
    gap: 32px;
}
.whyus-title{
    font-family: Sora;
    color: black;
    font-size: 48px;
    font-weight: 500;
}
.digital-reality{
   color: #146EF8;
}
.whyus-video{
    background-color: aliceblue;
    width: 100%;
    max-width: 1800px;
    height: 100%;
    border-radius: 22px;


    background-size: cover;
    background-repeat: no-repeat;
}
.whyus-question{
    font-family: Sora;
   font-size: 60px;
   font-weight: 500;
   display: flex;
    flex-direction: column;
    gap: 32px;
    color: black;
    padding: 48px 0px 32px 0px
}
.whyus-answer{
    font-family: Sora;
    font-size: 26px;
    font-weight: 400;
}
.whyus-quesans{
    display: flex;
    flex-direction: column;
  
    color: black;
}
.motion-div{
    display: flex;
    flex-direction: row;
    gap: 32px;
    background-color: #146EF8;
}
.our-motto-container{
    background-color: rgb(0, 0, 0);
    width: 100%;
  
   
    display: flex;
    justify-content: center;
    align-items: center;
   
  
}
.our-motto-contents{
  /* background-color: rgb(67, 67, 67); */
  padding: 50px 60px;
  background-color: black;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
    gap: 42px;
 
}
.our-motto-section{
  /* background-color: rgb(106, 75, 75); */
    width: 100%;
    max-width: 360px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 18px;
  
}
.motto-title{
color: white;
font: Sora;
font-size: 32px;
font-weight: 500;
text-align: center;
}
.motto-description{
text-align: center;
font-family: Sora;
font-weight: 400;
font-size: 20px;
}
/* our services */
.our-services-container{
    background-color: rgb(255, 255, 255);
width: 100%;
    display: flex;
    justify-content: center;
  
}
.our-services-contents{
    background-color: rgb(255, 255, 255);
    padding: 60px 88px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 52px;
}
.our-services-titles{
    background-color: rgb(255, 255, 255);
    font: Sora;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: #01050B;
    gap: 32px;
}
.our-services-jobs{
    background-color: rgb(89, 174, 174);
}
.our-service-title{
    font-size: 60px;
    text-align: end;
    font-weight: 500;
}
.our-service-description{
    font-size: 26px;
    text-align:right;
}
.job-box{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 48px;
    border-top: 1px solid black;
    cursor: pointer;
    position: relative;
}
.job-image{
    position: absolute;
    background-color: antiquewhite;
    height: 280px;
    border-radius: 12px;
    width: 100%;
    top: -40px;
    right: 200px;
    max-width: 340px;
    z-index: 1;
    display: none;
    background-image: url(/src/images/hoverimage.jpg);
    background-size: cover;
 
}

.job-box:hover{
    background-color: #146EF8;
    transition: 0.7s ease;
}
.job-box:hover .job-title{
    color: white;
}
.job-box:hover .arrowstroke{
    stroke: white;
}
.job-box:hover .arrow-container {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}
.job-box:hover .job-image {
   display: block;
   transition: transform 0.8s ease;
}
.job-title{
    font: Sora;
    font-weight: 500;
    font-size: 46px;
    color: #01050B;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* featured works */

.featured-works-container{
    background-color: black;
    width: 100%;
  
    display: flex;
    justify-content: center;
}
.featured-works-content{
    background-color: #000000;
    padding: 40px 88px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 42px;
    max-width: 1600px;
}
.featured-title-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}
.featured-btn{
    font-family: 'Manrope';
    font-weight: 400;
    background-color: #146EF8;
    color: white;
    padding: 8px 16px;
    border-radius: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   cursor: pointer;
}
.featured-title{
    font-family: 'Sora';
    font-size: 60px;
    font-weight: 500;
}
.featured-description{
    font-family: 'Sora';
    font-weight: 400;
    font-size: 26px;
}
.featured-image-container{
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%;
    height: auto;
    /* background-color: #878f9a; */
}
.featured-image-sec1{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    gap: 23px;  
    
}
.featured-image-sec2{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 23px;  
}
.featured-image-sec3{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    gap: 23px;  
}
.featured-image-box{
    /* background-color: #878f9a; */
 background-size: cover;
 width: 100%;

    height: 400px;
    border-radius: 22px;
}

.imgsmallbox{
    background-color: rgb(37, 37, 37);
    background-size: cover;
    height: 400px;
    border-radius: 22px;
}
.imgbx1{
    background-image: url(/src/images/img1.png);
    background-repeat: no-repeat;
  
   
}
.imgbx2{
    background-image: url(/src/images/img2.png);
    background-repeat: no-repeat;
}
.imgbx3{
    background-image: url(/src/images/img3.png);
    background-repeat: no-repeat;
}
.imgbx4{
    background-image: url(/src/images/img4.png);
    background-repeat: no-repeat;
}
.imgbx5{
    background-image: url(/src/images/img5.png);
    background-repeat: no-repeat;
}
.imgbx6{
    background-image: url(/src/images/img6.png);
    background-repeat: no-repeat;
}
.imgbx7{
    background-image: url(/src/images/img7.png);
    background-repeat: no-repeat;
}

/* about results */
.about-results-container{
    background-color: #146EF8;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about-results-content{
    width: 100%;
    /* background-color: #3f3f3f; */
    padding: 50px 88px 70px 88px;
    display: flex;
    flex-direction: column;
    gap: 52px;
    max-width: 1600px;
}
.about-title-des{
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-end; */
   flex-direction: column;
   gap: 12px;
}

.about-results-title{
    font-family: 'Sora';
    font-size: 60px;
    font-weight: 500;

}
.about-results-description{
    font-family: 'Sora';
    font-size: 26px;
}
.about-results-points{
    /* background-color: #766e6e; */
    display: flex;
    justify-content: space-between;
  
  
}
.about-point-box{
    /* background-color: rgb(119, 121, 122); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    text-align: center;
}
.oc-points{
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.about-point{
    font-family: 'Sora';
    font-weight: 600;
    font-size: 72px;
}
.about-comments{
    font-family: 'Sora';
    font-size: 26px;
}
.client-says-container{
    background-color: #000000;
    width: 100%;

    display: flex;
    justify-content: center;
}
.client-says-content{
    background-color: #000000;
    width: 100%;
    max-width: 1600px;
  display: flex;
  flex-direction: column;
  gap: 42px;
    padding: 50px 88px;
}
.client-says-title-des{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.client-says-title{
    font-family: 'Sora';
    font-size: 60px;
    font-weight: 500;
}
.client-says-description{
    font-family: 'Sora';
    font-size: 26px;
    font-weight: 400;
}
.client-says-slider{
  
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    overflow: hidden;
}
.slider-profile-image{
    background-color: #7b9ac8;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-image: url(/src/images/testiimg1.JPG);
    background-size: cover;
    background-position: center;
  

}
.slider-profile-details{
    display: flex;
  gap: 12px;
    align-items: center;
}
.slider-profile-info{
    display: flex;
    flex-direction: column;
   
}
.slider-card{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    max-width: 700px;
    padding: 20px 40px ;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.slider-comments{
    font-family: 'Sora';
    font-size: 26px;
    color: #01050B;
}
.slider-profile-name{
    font-size: 26px;
    font-family: 'Gilroy-Semibold';
    color: #01050B;
}
.slider-profile-location{
    color: #6A6A6A;
    font-family: 'Manrope';
    font-size: 20px;
}


@media screen and (max-width:1200px) and (min-width:0px) {
    .intro-section {
     flex-direction: column;
    }
    .intro-right{
        order: 1;
   
    }
    .intro-left{
        order: 2;
    }
    .intro-right{
        display: none;
    }
    .mobileelement1, .mobileelement2{
        display: block;
    }
    
}

@media screen and (max-width:1100px) and (min-width:0px) {
    .intro-container{
       
        padding: 30px;
      
    }
    .intro-section{
        display: flex;
       
        height: 90vh;
    }
}
@media screen and (max-width:1025px) and (min-width:0px) {
  .motto-title{
    font-size: 24px;
  }
  .our-motto-contents{
    gap: 12px;
  }
  .job-box:hover .job-image {
    display: none;
 
 }
 .our-motto-contents{
  
    gap: 42px;
 
}
.featuredsvg{
    display: none;
}
.about-results-content {
  
    padding: 40px;
   
}
}


@media screen and (max-width:950px) and (min-width:0px) {

    .about-results-points {
        flex-direction: column;
    }

    .oc-points {
        border-left: 0px solid white;
        border-right: 0px solid white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

   
}

@media screen and (max-width:850px) and (min-width:0px) {
 
 .job-title{
    font-size: 32px;
 }

  }
  
@media screen and (max-width:820px) and (min-width:0px) {
  .our-motto-contents{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 32px;
  }
  .our-motto-section{
    max-width: 100%;
  }
  .our-motto-container {
   
    padding: 0px 18px;
}
.whyus-question{
    font-family: Sora;
   font-size: 28px;
   font-weight: 500;
   display: flex;
    flex-direction: column;
    gap: 32px;
    color: black;
    padding: 10px 0px 10px 0px
}
.our-motto-contents{
    padding: 50px 20px;
}
.mottoimg{
    width: 80%;
}
.motto-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-services-contents {
    padding: 60px 0px;     
}
.job-box{
    padding: 18px;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}
.our-service-title {
    font-size: 40px;
   
}
.our-service-description {
    font-size: 22px;

}
.our-services-titles{
    padding: 18px;
    gap: 24px;
}
.our-services-contents {
    padding: 0px 0px;
    gap: 32px;
  
}
.featured-works-content{
   
    padding: 40px 18px;
   
}
.featured-title {
 
    font-size: 40px;
 
}
.imgsmallbox{
    height: 300px;
}
.featured-image-box {
    height: 200px;
}
.featured-image-container{
  
    gap: 12px;
   
}
.featured-image-sec2 {
  
    gap: 12px;
}
.featured-image-sec1 {
  
    gap: 12px;
}
.featured-image-sec3 {
  
    gap: 12px;
}
.imgbx5{
    display: none;
}
.featured-image-sec2{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    gap: 12px;  
}
.client-says-content{
    padding: 50px 18px;
}
.slider-comments{
    font-size: 18px;
}
.slider-profile-name{
    font-size: 18px;
}
.slider-profile-location{
    font-size: 18px;
}
.client-says-title{
    font-size: 40px;
}
  }




@media screen and (max-width:650px) and (min-width:0px) {
.intro-title {
        font-size: 52px;
        line-height: 66.6px;
    }

    .intro-description {
        font-size: 18px;
        font-family: Manrope;
    }

    .intro-container {
        padding: 16px;
    }
    .free-quote-text{
        font-family: Manrope;
        font-size: 16px;
    }
    .explore-btn{
      font-family: Manrope;
      padding: 8px 12px;
      font-size: 16px;
    }
    .whyus-content{
        padding: 0px 16px;
    }
    .scroll-text{
        font-size: 34px
    }
    .scroll-contents{
        gap: 34px;
    }
    .motion-div{
        gap: 28px;
    }
    .scroller-container{
        height: auto;
    }
    .rotate-svg{
        width: 34px;
        height: 34px;
        margin-top: 4px;
    }
    .whyus-title{
       font-size: 34px;
       text-align: center;
    }
    .whyus-question{
        font-size: 28px;
    }
    .whyus-answer {
        
        font-size: 22px;
       
    }
        .featured-btn {
            width: 100%;
            max-width: 150px;
            font-size: 14px;
            padding: 8px 22px;
        }
        .featured-title-btn{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
         }
        
}
@media screen and (max-width:425px) and (min-width:0px) {
  .free-quote-icon{
    display: none;
  }
  .whyus-container{
   padding: 90px 0px 40px 0px;
}
.featured-title {
 
    font-size: 30px;
 
}
.imgsmallbox{
    height: 250px;
}
.featured-title{
    font-size: 40px;
    text-align: left;
   }
   .about-results-content {
    gap: 32px;
}
.about-results-title {
   
    font-size: 40px;
}

}
@media screen and (max-width:380px) and (min-width:0px) {
 
    .free-quote-text{
        font-size: 16px;
    }
    .explore-btn{
      font-size: 16px;
    }
  }

  


