.home-container{
    background-color: rgb(65, 65, 65);
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.intro-container{
    background-color: rgb(37, 37, 37);
    height: 90vh; 
    padding: 0px 88px;
  
}
.intro-section{
    background-color: rgb(0, 0, 0);
    height: 90vh;
  
   
}
.matters-txt{
    font-family: Boska;
    font-weight: 600;
}
.intro-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.intro-left{
    width: 100%;
    max-width: 800px;
    background-color: rgb(0, 0, 0);

    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}
.intro-right{
    width: 100%;
    max-width: 600px;
    background-color: rgb(0, 0, 0);
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
   
}
.intro-title{
    font-size: 82px;
    line-height: 106.6px;
      font-family: "Sora", sans-serif;
      font-weight: 500;
}
.intro-description{
    font-size: 26px;
}
.intro-more-btns{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.get-free-quote{
    display: flex;
    background-color: #146EF8;
    padding: 8px 12px;
   justify-content: center;
   align-items: center;
    border-radius: 14px;
    gap: 6px;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
}
.free-quote-text{
    font-size: 24px;
    width: 100%;
    height: 100%;
 cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.free-quote-icon{
 
    display: flex;
    justify-content: center;
}
.explore-btn{
    font-size: 24px;
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 14px;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-person{
    width: 90%;
    height: auto;
    max-height: 600px;
    position: relative;

}
.home-image-elements {
    width: 100%;
    max-width: 60px;
    height: auto;
}
.home-image{
    /* background-color: aqua; */
    position: relative;

}
.element1{
    position: absolute;
    top: 100px;
    left: 20px;
    height: auto;
    animation: rotate 5s linear infinite;
  
}

.element2{
    position: absolute;
    top: 30px;
    right: 100px;
    height: auto;
    animation: rotate 5s linear infinite;
   
}
.element3{
        position: absolute;
        bottom: 190px;
        left: 0px;
        height: auto;
        animation: shake 5s ease infinite;
}

.element4{
    position: absolute;
    bottom: 200px;
    right: 100px;
    height: auto;
    animation: shake 5s ease infinite;
}
.element5{
    position: absolute;
    bottom: 8px;
    right: 130px;
    height: auto;
    animation: shake 5s ease infinite;
}

@keyframes rotate {
    from{
     transform: rotate(0deg);
    }
    to{
     transform: rotate(360deg);
    }
}
@keyframes shake {
    0%{
       transform: translateX(0);
    }
    25%{
       transform: translateX(-5px) rotate(0deg);
    }
    50%{
       transform: translateX(5px) rotate(0deg);
    }
    75%{
       transform: translateX(-5px) rotate(0deg);
    }
    100%{
       transform: translateX(0);
    }
   }
/* section2 - scroller container */
.scroller-container{
    width: 100%;
 background-color: #146EF8;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}
.scroll-contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 52px;
}
.scroll-text{
    font-family: Boska;
    font-weight: 600;
    font-size: 44px;
  color: white;
}

@media screen and (max-width:1200px) and (min-width:0px) {
    .intro-section {
     flex-direction: column;
    }
    .intro-right{
        order: 1;
   
    }
    .intro-left{
        order: 2;
    }
    .intro-right{
        display: none;
    }
  
}

@media screen and (max-width:1100px) and (min-width:0px) {
    .intro-container{
       
        padding: 30px;
      
    }
    .intro-section{
        display: flex;
       
        height: 90vh;
    }
}
@media screen and (max-width:650px) and (min-width:0px) {
.intro-title{
    font-size: 55px;
    line-height: 66.6px;
}
.intro-description {
font-size: 22px;
}
.intro-container {
    padding: 10px;
}
}
@media screen and (max-width:750px) and (min-width:0px) {
    .explore-btn {
        font-size: 20px;
      
    }

    .free-quote-text {
        font-size: 20px;
    }
}

